@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the movie database</h1>
</div>

<p>Click <a runat="server" href="Home/MovieRegistration">here</a> to add a movie.</p>
